/** CSS STYLE **/
/* general styles */
*:not(ul),
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* scroll-behavior: smooth; */
}

a {
  color: inherit;
  text-decoration: none;
}

iframe {
  width: 919px;
  height: 569px;
  border: none;
}

:root {
  --white: #fff;
  --white-transparent: #d7ccc0;
  --light: #f5f4f0;
  --main: #fe8a02;
  --main-dark: #42413c;
  --dark: #2a2626;
  --dark-transparent: #908d8b;
  --brown: #b09a81;
  --blue: #1085c5;
}
body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 1.6em;
  color: var(--dark);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Neucha", cursive;
  line-height: 1.2em;
  font-weight: 400;
}
h1 {
  font-size: 72px;
}
h2 {
  font-size: 60px;
}
h3 {
  font-size: 34px;
}
section {
  padding: 100px 0;
}
.container {
  max-width: 1110px;
  margin: 0 auto;
  text-align: center;
  position: relative;
  z-index: 1;
}
.dark {
  color: var(--dark);
}
.orange {
  display: block;
  color: var(--main);
}

.footer {
  padding: 100px 0;
}

/* header styles */
.header {
  position: relative;
  background-color: var(--light);
  min-height: 100vh;
  padding: 100px 0;
  overflow-x: clip;
}
.header::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  background-image: url("../img/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.1;
}
.header__title {
  position: relative;
  text-align: left;
  color: var(--main);
  z-index: 2;
  margin-bottom: 185px;
}
.header__img {
  display: block;
  width: auto;
  height: 525px;
  position: absolute;
  top: 50px;
  right: -100px;
}
.header__text {
  margin-bottom: 40px;
  text-align: left;
  column-count: 2;
  column-gap: 30px;
  column-width: 50%;
}
.header__text p {
  break-inside: avoid;
  margin-bottom: 20px;
}
.nobreak {
  break-inside: avoid;
}
.header__link {
  display: inline-block;
  padding: 12px 24px;
  background-color: var(--main);
  color: var(--white);
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
  position: relative;
  z-index: 0;
  transition: all 0.4s;
}

.header__link:hover {
  background-color: #ea7600;
}

/* definition section */
.definition {
  margin-bottom: -200px;
}
.definition__title {
  color: var(--main);
  margin-bottom: 30px;
}
.definition__subtitle {
  margin-bottom: 30px;
}
.definition__video {
  filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15));
}

.examples {
  background: var(--main-dark);
  padding-top: 200px;
}

.examplesBox {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.examplesItem {
  display: block;
  width: 31.6%;
  margin-bottom: 20px;
  padding: 24px;
  text-align: left;
  background: var(--light);
  transition: all 0.4s;
}

a.examplesItem:hover {
  background: var(--main);
  color: var(--white);
}

a.examplesItem:hover .examplesItem__title {
  color: var(--white);
}

.examplesItem--first {
  padding: 0;
  background: transparent;
  text-align: left;
  color: var(--white);
}

.examplesItem__heading {
  font-size: 52px;
  font-weight: normal;
  line-height: 120%;
}

.examplesItem__num {
  margin-bottom: 35px;
  padding-top: 5px;
  font-size: 64px;
  font-family: "Neucha", cursive;
  line-height: 1;
}

.examplesItem__title {
  margin-bottom: 12px;
  font-size: 34px;
  line-height: 1.2;
  font-family: "Neucha", cursive;
  color: var(--main);
  transition: all 0.4s;
}

.effectSection {
  position: relative;
  background: var(--light);
}

.effectSection::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-image: url("../img/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 0;
  opacity: 0.1;
}

.effectSectionTop {
  display: flex;
  justify-content: space-between;
}

.effectSectionTop__img {
  filter: drop-shadow(0px 16px 32px rgba(0, 0, 0, 0.15));
}

.effectSectionTop__content {
  margin-left: 30px;
  text-align: left;
}

.effectSectionTop__heading {
  font-size: 24px;
  line-height: 29px;
  font-family: "Neucha", cursive;
  color: var(--dark-transparent);
}

.effectSectionTop__title {
  margin-bottom: 30px;
  font-weight: normal;
  color: var(--dark);
}

.effectSectionTop__text {
  font-size: 34px;
  line-height: 41px;
  color: var(--dark);
  font-family: "Neucha", cursive;
}

.effectSectionBottom {
  margin-top: 100px;
}

.effectSectionBottom__title {
  font-size: 14px;
  position: relative;
  padding: 5px 10px;
  font-weight: 700;
  background: var(--brown);
  color: var(--white);
  text-transform: uppercase;
  text-align: left;
  font-family: "Open Sans", sans-serif;
  margin-bottom: 20px;
}

.effectSectionBottom__text {
  columns: 2;
  column-gap: 30px;
  text-align: left;
}

.effectSectionBottom__text p {
  break-inside: avoid;
}

.effectSection--even {
  background: var(--brown);
  color: var(--white);
}

.effectSection--even .effectSectionTop {
  flex-direction: row-reverse;
}

.effectSection--even .effectSectionTop__heading {
  color: var(--white-transparent);
}

.effectSection--even .effectSectionTop__title {
  color: var(--white) !important;
}

.effectSection--even .effectSectionTop__text {
  color: var(--white);
}

.effectSection--even .effectSectionTop__content {
  margin-left: 0;
  margin-right: 30px;
}

.effectSection--even .effectSectionBottom__title {
  background: var(--white);
  color: var(--brown) !important;
}

#premature-optimization .container {
  text-align: left;
}

#premature-optimization h1,
#premature-optimization h2,
#premature-optimization h3,
#premature-optimization h4,
#premature-optimization h5,
#premature-optimization h6 {
  color: var(--main);
}

.footerTop {
  background-color: var(--main-dark);
  color: var(--white);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 55px;
  margin-bottom: 76px;
}

.footerTop__titleBlock {
  text-align: left;
  max-width: 400px;
}

.footerTopContent {
  text-align: left;
  width: 50%;
}

.footerTopContent__title {
  font-size: 18px;
  margin-bottom: 9px;
}

.footerTopContent__form {
  width: 100%;
  display: flex;
}

.footerTopContent__input {
  display: block;
  flex-grow: 1;
  border: none;
  height: 50px;
  padding: 17px 15px;
}

.footerTopContent__input::placeholder {
  color: #757575;
  opacity: 0.2;
}

.footerTopContent__btn {
  display: block;
  border: none;
  width: 70px;
  height: 50px;
  background: var(--main);
  cursor: pointer;
  position: relative;
}

.footerTopContent__btn::after {
  position: absolute;
  width: 24px;
  height: 24px;
  content: url("../img/send.svg");
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.footerTopContent__subtitle {
  font-size: 12px;
}

.footerTopContent__subtitle a {
  text-decoration: underline;
}

.footerBottom__copy {
  margin-bottom: 16px;
}

.footerBottom p {
  margin-bottom: 16px;
}

.footerBottom a {
  text-decoration: underline;
  color: var(--blue);
}
