/** CSS STYLE **/

/* general styles */
*:not(ul),
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  /* scroll-behavior: smooth; */
}

a {
  color: inherit;
  text-decoration: none;
}

iframe {
  width: 919px;
  height: 569px;

  border: none;
}

:root {
  --white: #fff;
  --white-transparent: #d7ccc0;
  --light: #f5f4f0;
  --main: #fe8a02;
  --main-dark: #42413c;
  --dark: #2a2626;
  --dark-transparent: #908d8b;
  --brown: #b09a81;
  --blue: #1085c5;
}

body {
  color: var(--dark);
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  line-height: 1.6em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  font-family: "Neucha", cursive;
  line-height: 1.2em;
}

h1 {
  font-size: 72px;
}

h2 {
  font-size: 60px;
}

h3 {
  font-size: 34px;
}

section {
  padding: 100px 0;
}

.container {
  position: relative;
  z-index: 1;

  max-width: 1110px;
  margin: 0 auto;

  text-align: center;
}

.dark {
  color: var(--dark);
}

.orange {
  display: block;

  color: var(--main);
}

.footer {
  padding: 100px 0;
}

/* header styles */
.header {
  position: relative;

  min-height: 100vh;
  padding: 100px 0;
  overflow-x: clip;

  background-color: var(--light);
}

.header::before {
  position: absolute;
  top: 0;

  width: 100%;
  height: 100%;

  background-image: url("../img/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.1;

  content: "";
}

.header__title {
  position: relative;
  z-index: 2;

  margin-bottom: 185px;

  color: var(--main);
  text-align: left;
}

.header__img {
  position: absolute;
  top: 50px;
  right: -100px;

  display: block;
  width: auto;
  height: 525px;
}

.header__text {
  margin-bottom: 40px;

  text-align: left;
  column-count: 2;
  column-gap: 30px;
  column-width: 50%;
}

.header__text p {
  break-inside: avoid;

  margin-bottom: 20px;
}

.nobreak {
  break-inside: avoid;
}

.header__link {
  position: relative;
  z-index: 0;

  display: inline-block;
  padding: 12px 24px;

  color: var(--white);
  font-weight: 700;
  text-transform: uppercase;

  background-color: var(--main);

  cursor: pointer;

  transition: all 0.4s;
}

.header__link:hover {
  background-color: #ea7600;
}

/* definition section */
.definition {
  margin-bottom: -200px;
}

.definition__title {
  margin-bottom: 30px;

  color: var(--main);
}

.definition__subtitle {
  margin-bottom: 30px;
}

.definition__video {
  filter: drop-shadow(0 16px 32px #d9d9d9);
}

.examples {
  padding-top: 200px;

  background: var(--main-dark);
}

.examplesBox {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.examplesItem {
  display: block;
  width: 31.6%;
  margin-bottom: 20px;
  padding: 24px;

  text-align: left;

  background: var(--light);

  transition: all 0.4s;
}

a.examplesItem:hover {
  color: var(--white);

  background: var(--main);
}

.examplesItem--first {
  padding: 0;

  color: var(--white);
  text-align: left;

  background: transparent;
}

.examplesItem__heading {
  font-weight: normal;
  font-size: 52px;
  line-height: 120%;
}

.examplesItem__num {
  margin-bottom: 35px;
  padding-top: 5px;

  font-size: 64px;
  font-family: "Neucha", cursive;
  line-height: 1;
}

.examplesItem__title {
  margin-bottom: 12px;

  color: var(--main);
  font-size: 34px;
  font-family: "Neucha", cursive;
  line-height: 1.2;

  transition: all 0.4s;
}

a.examplesItem:hover .examplesItem__title {
  color: var(--white);
}

.effectSection {
  position: relative;

  background: var(--light);
}

.effectSection::before {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;

  width: 100%;
  height: 100%;

  background-image: url("../img/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.1;

  content: "";
}

.effectSectionTop {
  display: flex;
  justify-content: space-between;
}

.effectSectionTop__img {
  filter: drop-shadow(0px 16px 32px rgba(0, 0, 0, 0.15));
}

.effectSectionTop__content {
  margin-left: 30px;

  text-align: left;
}

.effectSectionTop__heading {
  color: var(--dark-transparent);
  font-size: 24px;
  font-family: "Neucha", cursive;
  line-height: 29px;
}

.effectSectionTop__title {
  margin-bottom: 30px;

  color: var(--dark);
  font-weight: normal;
}

.effectSectionTop__text {
  color: var(--dark);
  font-size: 34px;
  font-family: "Neucha", cursive;
  line-height: 41px;
}

.effectSectionBottom {
  margin-top: 100px;
}

.effectSectionBottom__title {
  position: relative;

  margin-bottom: 20px;
  padding: 5px 10px;

  color: var(--white);
  font-weight: 700;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  text-align: left;
  text-transform: uppercase;

  background: var(--brown);
}

.effectSectionBottom__text {
  text-align: left;
  columns: 2;
  column-gap: 30px;
}

.effectSectionBottom__text p {
  break-inside: avoid;
}

.effectSection--even {
  color: var(--white);

  background: var(--brown);
}

.effectSection--even .effectSectionTop {
  flex-direction: row-reverse;
}

.effectSection--even .effectSectionTop__heading {
  color: var(--white-transparent);
}

.effectSection--even .effectSectionTop__title {
  color: var(--white) !important;
}

.effectSection--even .effectSectionTop__text {
  color: var(--white);
}

.effectSection--even .effectSectionTop__content {
  margin-right: 30px;
  margin-left: 0;
}

.effectSection--even .effectSectionBottom__title {
  color: var(--brown) !important;

  background: var(--white);
}

#premature-optimization .container {
  text-align: left;
}

#premature-optimization h1,
#premature-optimization h2,
#premature-optimization h3,
#premature-optimization h4,
#premature-optimization h5,
#premature-optimization h6 {
  color: var(--main);
}

.footerTop {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 76px;
  padding: 40px 55px;

  color: var(--white);

  background-color: var(--main-dark);
}

.footerTop__titleBlock {
  max-width: 400px;

  text-align: left;
}

.footerTopContent {
  width: 50%;

  text-align: left;
}

.footerTopContent__title {
  margin-bottom: 9px;

  font-size: 18px;
}

.footerTopContent__form {
  display: flex;
  width: 100%;
}

.footerTopContent__input {
  display: block;
  flex-grow: 1;
  height: 50px;
  padding: 17px 15px;

  border: none;
}

.footerTopContent__input::placeholder {
  color: #757575;

  opacity: 0.2;
}

.footerTopContent__btn {
  position: relative;

  display: block;
  width: 70px;
  height: 50px;

  background: var(--main);
  border: none;
  cursor: pointer;
}

.footerTopContent__btn::after {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 24px;
  height: 24px;

  transform: translate(-50%, -50%);

  content: url("../img/send.svg");
}

.footerTopContent__subtitle {
  font-size: 12px;
}

.footerTopContent__subtitle a {
  text-decoration: underline;
}

.footerBottom__copy {
  margin-bottom: 16px;
}

.footerBottom p {
  margin-bottom: 16px;
}

.footerBottom a {
  color: var(--blue);
  text-decoration: underline;
}
