/** CSS STYLE **/
/* general styles */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
ul {
  list-style-type: none;
}
a {
  color: inherit;
  text-decoration: none;
}

:root {
  --white: #fff;
  --white-transparent: #d7ccc0;
  --light: #f5f4f0;
  --main: #fe8a02;
  --main-dark: #42413c;
  --dark: #2a2626;
  --dark-transparent: #908d8b;
  --brown: #b09a81;
  --blue: #1085c5;
}
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1.6em;
  color: var(--dark);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Neucha', cursive;
  line-height: 1.2em;
}
h1 {
  font-size: 72px;
}
h2 {
  font-size: 60px;
}
h3 {
  font-size: 34px;
}
section {
  padding: 100px 0;
}
.container {
  max-width: 1110px;
  margin: 0 auto;
  text-align: center;
}
.dark {
  color: var(--dark);
}
.orange {
  display: block;
  color: var(--main);
}




.footer {
  padding: 100px 0;
}

/* header styles */
.header {
  position: relative;
  background-color: var(--light);
  min-height: 100vh;
  padding: 100px 0;
}
.header::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  background-image: url('../img/background.png');
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.1;
}
.header__title {
  position: relative;
  text-align: left;
  color: var(--main);
  z-index: 2;
  margin-bottom: 185px;
}
.header__img {
  display: block;
  width: auto;
  height: 525px;
  position: absolute;
  top: 50px;
  right: 0;
}
.header__text {
  margin-bottom: 40px;
  text-align: left;
  column-count: 2;
  column-gap: 30px;
  column-width: 50%;
}
.header__text p {
  break-inside: avoid;
  margin-bottom: 20px;
}
.nobreak {
  break-inside: avoid;
}
.header__link {
  display: inline-block;
  padding: 12px 24px;
  background-color: var(--main);
  color: var(--white);
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
}

/* definition section */
.definition {
  margin-bottom: -200px;
}
.definition__title {
  color: var(--main);
  margin-bottom: 27px;
}
.definition__subtitle {
  margin-bottom: 30px;
}
.definition__video {
  filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15));
}

.examples {
  background: var(--main-dark);
  padding-top: 200px;
}

.examplesBox {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.examplesItem {
  display: block;
  width: 32%;
  margin-bottom: 20px;
  padding: 24px;
  text-align: left;
  background: var(--light);
}

.examplesItem--first {
  padding: 0;
  background: transparent;
  text-align: left;
  color: var(--white);
}

.examplesItem__heading {
  font-size: 52px;
  font-weight: normal;
}

.examplesItem__num {
  margin-bottom: 40px;
  font-size: 64px;
  font-family: 'Neucha', cursive;
  line-height: 1;
}

.examplesItem__title {
  margin-bottom: 16px;
  font-size: 34px;
  line-height: 1.2;
  font-family: 'Neucha', cursive;
  color: var(--main);
}

.effectSection {
  position: relative;
  background: var(--light);
}

.effectSection::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-image: url('../img/background.png');
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 0;
  opacity: 0.1;
}

.effectSectionTop {
  display: flex;
  justify-content: space-between;
}

.effectSectionTop__img {
  filter: drop-shadow(0px 16px 32px rgba(0, 0, 0, 0.15));
}

.effectSectionTop__content {
  margin-left: 30px;
  text-align: left;
}

.effectSectionTop__heading {
  font-size: 24px;
  line-height: 29px;
  font-family: 'Neucha', cursive;
  color: var(--dark-transparent);
}

.effectSectionTop__title {
  margin-bottom: 30px;
  font-weight: normal;
}

.effectSectionTop__text {
  font-size: 34px;
  line-height: 41px;
  color: var(--dark);
  font-family: 'Neucha', cursive;
}

.effectSectionBottom {
  margin-top: 100px;
}

.effectSectionBottom__title {
  padding: 5px 10px;
  background: var(--brown);
  color: var(--white);
  text-transform: uppercase;
  text-align: left;
  font-family: 'Open Sans', sans-serif;
  margin-bottom: 20px;
}

.effectSectionBottom__text {
  columns: 2;
  column-gap: 30px;
  text-align: left;
}

.effectSectionBottom__text p {  
  break-inside: avoid;
}